<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <div class="logo">
                <a (click)="navigateToRegions()"> <img [src]="pathLogo" width="200px" alt="Logo de la empresa"></a>
            </div>
            <span class="example-spacer"></span>
            <div class="navigation" fxShow="true" fxHide.lt-md="true">

                <span routerLink="regions">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="buttonHome"
                        mat-button>
                        <mat-icon>home</mat-icon>
                        Inicio
                    </a>
                </span>
                <span routerLink="review">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="buttonReview"
                        mat-button>
                        <mat-icon>rate_review</mat-icon>
                        Review
                    </a>
                </span>

                <span routerLink="stateReserve">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="buttonReview"
                        mat-button>
                        <mat-icon>rate_review</mat-icon>
                        Consultar reserva
                    </a>
                </span>
                <ng-template [ngIf]="logued">
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>account_box</mat-icon>Usuarios <i class="fas fa-caret-down" style="color:black"></i>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="register-user">
                            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="button"
                                mat-button>
                                <span class="material-icons">add_box</span>
                                Agregar usuario
                            </a>
                        </button>
                        <button mat-menu-item routerLink="modify-user">
                            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="button"
                                mat-button>
                                <span class="material-icons">
                                    construction
                                </span>
                                Modificar usuario
                            </a>
                        </button>
                        <button mat-menu-item routerLink="delete-user">
                            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="button"
                                mat-button>
                                <span class="material-icons">
                                    delete_forever
                                </span>
                                Eliminar usuario
                            </a>
                        </button>
                    </mat-menu>
                </ng-template>

                <ng-template [ngIf]="logued">
                    <button mat-button [matMenuTriggerFor]="menu2">
                        <span class="material-icons">
                            tour
                        </span>Puntos turisticos <i class="fas fa-caret-down" style="color:black"></i>
                    </button>
                    <mat-menu #menu2="matMenu">
                        <button mat-menu-item routerLink="add-touristSpot">
                            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="button"
                                mat-button>
                                <span class="material-icons">add_box</span>
                                Añadir punto turistico
                            </a>
                        </button>
                    </mat-menu>
                </ng-template>

                <ng-template [ngIf]="logued">
                    <button mat-button [matMenuTriggerFor]="menu3">
                        <span class="material-icons">
                            local_hotel
                        </span> Hospedaje <i class="fas fa-caret-down" style="color:black"></i>
                    </button>
                    <mat-menu #menu3="matMenu">
                        <button mat-menu-item routerLink="add-lodging">
                            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="button"
                                mat-button>
                                <span class="material-icons">add_box</span>
                                Añadir hospedaje
                            </a>
                        </button>
                        <button mat-menu-item routerLink="modify-lodging-capacity">
                            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="button"
                                mat-button>
                                <span class="material-icons">
                                    construction
                                </span>
                                Modificar hospedaje
                            </a>
                        </button>

                        <button mat-menu-item routerLink="modify-reserve">
                            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="button"
                                mat-button>
                                <span class="material-icons">
                                    construction
                                </span>
                                Modificar reserva
                            </a>
                        </button>

                        <button mat-menu-item routerLink="importer">
                            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="button"
                                mat-button>
                                <span class="material-icons">
                                    publish
                                </span>
                                Importar hospedaje
                            </a>
                        </button>
                    </mat-menu>
                </ng-template>

                <ng-template [ngIf]="logued">
                    <button mat-button [matMenuTriggerFor]="menu5">
                        <span class="material-icons">
                            analytics
                        </span> Reporte <i class="fas fa-caret-down" style="color:black"></i>
                    </button>
                    <mat-menu #menu5="matMenu">
                        <button mat-menu-item routerLink="report">
                            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="button"
                                mat-button>
                                <span class="material-icons">
                                    build
                                </span>
                                Generar reporte
                            </a>
                        </button>
                    </mat-menu>
                </ng-template>

                <div *ngIf="logued; then thenBlock; else elseBlock"></div>
                <ng-template #thenBlock>
                    <button mat-button (click)="logout()">
                        <span>
                            <a class="buttonClose" mat-button>
                                <span class="material-icons">
                                    exit_to_app
                                </span>
                                Cerrar sesión
                            </a>
                        </span>
                    </button>
                </ng-template>

                <ng-template #elseBlock>
                    <button mat-button>
                        <span routerLink="login">
                            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="buttonLogin"
                                mat-button>
                                <span class="material-icons">
                                    login
                                </span>
                                Inicio sesión
                            </a>
                        </span>
                    </button>
                </ng-template>

            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<div class="content">
    <router-outlet (activate)='onActivate($event)'></router-outlet>
</div>