<div>
    <app-nav-bar></app-nav-bar>
</div>

<!--
<app-region> </app-region>
<app-review> </app-review>
<app-login> </app-login>
<app-register-user> </app-register-user>
<app-modify-user> </app-modify-user>
<app-delete-user> </app-delete-user>
<app-region> </app-region>
<app-delete-user> </app-delete-user>
<app-add-tourist-spot></app-add-tourist-spot>
<app-modify-user> </app-modify-user> 
<app-delete-user> </app-delete-user> 
<app-add-lodging> </app-add-lodging>
<app-star-rating></app-star-rating>
-->


<div class="content">
    <app-add-lodging> </app-add-lodging>
</div>



