<div>
    <app-nav-bar></app-nav-bar>
</div>

<!--
<app-region> </app-region>
<app-review> </app-review>
<app-login> </app-login>
<app-register-user> </app-register-user>
<app-modify-user> </app-modify-user>
<app-delete-user> </app-delete-user>
<app-delete-user> </app-delete-user>
<app-add-tourist-spot></app-add-tourist-spot>
<app-table></app-table>
<app-report></app-report>
<app-review> </app-review>
<app-form-commentary></app-form-commentary>
<app-form-modify-reserve></app-form-modify-reserve>
<app-report></app-report>
<app-form-for-report></app-form-for-report>
<app-modify-lodging-capacity> </app-modify-lodging-capacity>
<app-tourist-spot-view></app-tourist-spot-view>
<app-selection-of-tourist-spot></app-selection-of-tourist-spot>
<router-outlet></router-outlet>
<app-create-reserve></app-create-reserve>
-->
<div class="content">
    <app-reserve-confirmation></app-reserve-confirmation>
</div>



