<div class="padre">
    <div class="card" *ngFor="let lodging of lodgings; let i = index">
        <img src={{lodging.imagesPath[0]}} class="imagen">
        <h2 class="name">{{lodging.name}}</h2>
        <div class="disponibilityText">
            <p>Disponibilidad:</p>
        </div>
        <mat-slide-toggle class="toogle" [(ngModel)]="lodging.isAvailable" color="primary"
            (ngModelChange)="changed($event)">
        </mat-slide-toggle>
        <div class="ocupado">
            <p>Libre</p>
        </div>
        <div class="libre">
            <p>
            <p>Ocupado</p>
        </div>
        <button mat-button class="deleteButton" (click)="delete($event, lodging.id)">Eliminar</button>
    </div>
</div>