<div class="padre">
    <div class="card" *ngFor="let lodging of lodgings; let i = index">
        <img src={{lodging.imagesPath[0]}} class="imagen">
        <h2 class ="name">{{lodging.name}}</h2>
        <p class="price">Disponibilidad:</p>
        <mat-slide-toggle [(ngModel)]="lodging.isAvailable" color="primary" (ngModelChange)="changed($event)">
        </mat-slide-toggle>
        <p class="ocupado">Ocupado</p>
        <p class="libre">Libre</p>
        <button mat-button class="deleteButton" (click)="delete($event, lodging.id)">Eliminar</button>
    </div>
</div>