.padre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden
}

.card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 2%;
  height: 500px;
  border-radius: 13px
}

.libre {
  color: grey;
  font-size: 15px;
  position: absolute;
  bottom: 9%;
  left: 27%
}

.ocupado {
  color: grey;
  font-size: 15px;
  position: absolute;
  bottom: 9%;
  right: 25%
}

.name{
  position: relative;
  margin-top:87%;
  margin-left: 7%;
}

.imagen {
  position: absolute;
  width: 100%;
  height: 70%;
  border-radius: 13px
}

.deleteButton{
  background-color: red;
  color:white;
  position: absolute;
  margin-top:68.5vh;
  margin-left: 40%;
}

.price{
  margin-bottom:5vh;
}

mat-slide-toggle {
  position: absolute;
  margin-top:63vh;
  left: 45%;
}