<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Lodging">
      <th mat-header-cell *matHeaderCellDef> Hospedaje </th>
      <td mat-cell *matCellDef="let element"> {{element.NameOfLodging}} </td>
    </ng-container>
  
    <ng-container matColumnDef="QuantityOfReserves">
      <th mat-header-cell *matHeaderCellDef> Cantidad de reservas</th>
      <td mat-cell *matCellDef="let element"> {{element.QuantityOfReserves}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  