<div class="padre">
    <div class="card" *ngFor="let touristSpot of touristSpotFilterByRegion; let i = index"
        (click)="navigateToLodgings(touristSpot.id)">
        <a>
            <img src={{touristSpot.imagePath}} class="imagen">
            <h3>{{touristSpot.name}}</h3>
            <p class="description"><i>{{touristSpot.description}}</i></p>
            <p class="region"><i><strong>{{touristSpot.regionModel.descriptionOfName}}</strong></i></p>
            <p class="textCategory"> <strong>Categorias:</strong> </p>
            <div *ngFor="let category of touristSpot.listOfCategoriesModel">
                <p class="category">{{category.name}}</p>
            </div>
        </a>
    </div>
</div>