<div class="padre">
    <form [formGroup]="formGroup" class="formulario">
        <h1> Inicio sesión </h1>
        <div class="contenedor">

            <mat-form-field class="input-email" appearance="fill">
                <mat-label>Ingrese su correo electrónico</mat-label>
                <input matInput placeholder="Correo electronico" formControlName="email" required>
                <mat-error *ngIf="formGroup.controls.email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="input-password" appearance="fill">
                <mat-label>Ingrese su contraseña</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formGroup.controls.password.invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>

            <button class="button" (click)="Login()" [disabled]="formGroup.invalid">Iniciar sesión</button>

            <p class="linea">Al iniciar sesión, aceptas nuestras <a href="#">Condiciones de Uso y Politica de
                    Privacidad</a></p>

        </div>
    </form>
</div>