<div class="padre">
    <form [formGroup]="formGroup" class="formulario">
        <h1> Eliminacion de usuario </h1>
        <div class="contenedor">
            <div class="optionSelector">
                <mat-form-field appearance="fill">
                    <mat-label>Elija un usuario</mat-label>
                    <mat-select [(value)]="selectedUser">
                        <mat-option *ngFor="let user of usersOfTheSystem" [value]="user" (click)="ChargeInfoInFields()">
                            {{user.UserName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-form-field appearance="fill" class="input-userName">
                <mat-label> Nombre de usuario </mat-label>
                <input readonly formControlName="userName" type="text" matInput placeholder="Ex. Agus00">
            </mat-form-field>

            <mat-form-field class="input-email" appearance="fill">
                <mat-label>Correo electrónico</mat-label>
                <input readonly matInput placeholder="joaquin.lamela00@gmail.com" formControlName="email">
                <mat-error *ngIf="formGroup.controls.email.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>

            <button class="button" (click)="Delete()">Eliminar</button>
        </div>
    </form>
</div>