.containerOfRegions {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 89.5h;
}

.item {
    overflow: hidden;
    cursor: pointer;
}

.regionImage {
    width: 42.05vh;
    height: 90vh;
    transition: transform 1s;
    position: relative;
}

.regionImage:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

.descriptionOfRegion {
    position: relative;
    color: white;
    top: -100px;
    text-align: center;
    font-size: 1.4em;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 130%;
    font-weight: normal;
}