<div class="padre">
    <div class="card" *ngFor="let searchItem of lodgingsOfSearch; let i = index">
        <div class="image">
            <img src={{searchItem.lodging.imagesPath[0]}} class="imagen">
        </div>
        <div class="content">
            <h2 class="name">{{searchItem.lodging.name}}</h2>
            <div class="stars">
                <span class="star" *ngFor="let i of Arr(searchItem.lodging.quantityOfStars).fill(1)">
                    <img width="26" src="../../assets/img/star.png" />
                </span>
            </div>

            <div class="textAddress">
                <span><strong> Dirección: </strong></span>
            </div>

            <div class="address">
                <span>{{searchItem.lodging.address}}</span>
            </div>

            <div class="textPricePerNight">
                <span><strong> Precio por noche: </strong></span>
            </div>

            <div class="pricePerNight">
                <span> USD {{searchItem.lodging.pricePerNight}} (por noche)</span>
            </div>
            <div class="review">
                <span class="reviewScore">{{searchItem.lodging.reviewsAverageScore}}</span>
            </div>

            <div class="textTotalPrice">
                <span><strong> Precio total para la búsqueda: </strong></span>
            </div>

            <div class="totalPrice"> USD {{searchItem.totalPriceForSearch}}</div>

            <button class="buttonOfDetails" (click)="displayDetailLodging(searchItem)">Ver detalle</button>
        </div>
    </div>
</div>