.padre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow: hidden
}

.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    width: 800px;
    word-wrap: break-word;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 2%;
    height: 300px;
    border-radius: 13px
}

.name {
    color: #003580;
    position: absolute;
    bottom: 80%;
    left: 40%;
    font-weight: 700
}

.address {
    color: #333;
    position: absolute;
    bottom: 60%;
    left: 40%;
    margin-top: .5%
}

.reviewScore {
    color: #333;
    position: relative;
    float: right;
    bottom: 95%
}

.pricePerNight {
    color: #333;
    position: relative;
    bottom: 34vh;
    left: .1%;
    font-weight: 700
}

.review {
    background-color: #252850;
    position: relative;
    left: 102vh;
    top: -53vh;
    font-weight: 700;
    width: 50px;
    min-height: 50px;
    border-radius: 15px;
    text-align: center
}

.buttonOfDetails {
    color: #fff;
    background-color: #1a2537;
    position: absolute;
    left: 90vh;
    top: 30vh;
    width: 100px;
    min-height: 45px;
    border-radius: 10px;
    outline: 0
}

.buttonOfDetails:hover {
    background-color: #5f9ea0
}

.reviewScore {
    top: 1.5vh;
    color: #fff;
    right: 25%
}

.star {
    bottom: 95%;
    display: inline-block
}

.stars {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: -40vh;
    margin-top: 1px;
    width: 40%;
    left: 40%;
    margin-top: 6%
}

.image {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 13px
}

.imagen {
    width: 100%;
    height: 100%;
    border-radius: 13px
}

.totalPrice {
    color: #333;
    position: relative;
    bottom: 40vh;
    left: 1.1%;
    font-weight: 700
}