.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    width: 800px;
    word-wrap: break-word;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 2%;
    height: 300px;
    border-radius: 13px
}

.cardReview {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    width: 800px;
    word-wrap: break-word;
    margin: auto;
    text-align: center;
    font-family: arial;
    height: auto;
    background-color: #fff;
    border-radius: 13px;
    margin-top: 3vh
}

.name {
    color: #3f51b5;
    position: absolute;
    bottom: 80%;
    left: 40%;
    font-weight: 700
}

.address {
    color: grey;
    position: absolute;
    bottom: 60%;
    left: 40%;
    margin-top: .5%
}

.reviewScore {
    color: grey;
    position: relative;
    float: right;
    bottom: 95%
}

.pricePerNight {
    color: grey;
    position: absolute;
    top: 17vh;
    left: 40%;
    font-weight: 700
}

.review {
    background-color: #252850;
    position: relative;
    left: 102vh;
    top: -51vh;
    font-weight: 700;
    width: 50px;
    min-height: 50px;
    border-radius: 15px
}

.reviewScore {
    top: 1.5vh;
    color: #fff;
    right: 25%
}

.star {
    bottom: 95%;
    display: inline-block
}

.stars {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: -40vh;
    margin-top: 1px;
    width: 40%;
    left: 40%;
    margin-top: 6%
}

.image {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 13px
}

.imagen {
    width: 100%;
    height: 100%;
    border-radius: 13px
}

.totalPrice {
    color: grey;
    position: absolute;
    left: 40%;
    font-weight: 700;
    top: 20vh;
    margin-top: 1%
}

.right {
    position: absolute;
    bottom: 0;
    right: 64%;
    outline: 0;
    cursor: pointer;
    width: 3rem;
    height: 100%
}

.left {
    position: absolute;
    bottom: 0;
    left: 0;
    outline: 0;
    cursor: pointer;
    width: 3rem;
    height: 100%
}

.leftArrow {
    font-size: 39px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
    width: 3rem;
    height: 3rem
}

.rightArrow {
    font-size: 39px;
    margin: auto;
    position: absolute;
    cursor: pointer;
    top: 48%
}

.starReview {
    top: 30vh
}

.description {
    margin-top: 2vh;
    color: grey
}

.nameWhoComment {
    color: grey;
    font-weight: 700;
    font-size: 12px
}

.reserveButton {
    position: absolute;
    top: 45vh;
    left: 60%;
    background-color: #0d0d50;
    color: #fff
}