<form [formGroup]="formGroup" class="formulario">
    <h1> Agregar hospedaje </h1>
    <div class="contenedor">

        <mat-form-field appearance="fill" class="input-name">
            <mat-label> Nombre </mat-label>
            <input formControlName="name" type="text" matInput placeholder="Ex. Hotel Enjoy Conrad" required>
            <mat-error *ngIf="formGroup.controls.name.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <div class="input-contenedor-stars">
            <p class="textStars">Cantidad de estrellas</p>
            <ngb-rating [(rate)]="currentRate" [max]="5">
                <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
            </ngb-rating>
        </div>

        <mat-form-field appearance="fill" class="input-address">
            <mat-label> Dirección </mat-label>
            <input formControlName="address" type="text" matInput placeholder="Ex. Playa Mansa, parada 21." required>
            <mat-error *ngIf="formGroup.controls.address.invalid">{{getErrorMessageAddress()}}</mat-error>
        </mat-form-field>

        <div class="cointainer-of-touristSpot">
            <h5 class="touristSpotAssocied">Punto turistico asociado: </h5>
            <mat-form-field class="selector-of-touristSpot" appearance="fill">
                <mat-label>Seleccione un punto turistico</mat-label>
                <mat-select [(value)]="selectedTouristSpot" formControlName="selectedTouristSpotControl" required>
                    <mat-option *ngFor="let touristSpot of touristSpotExisting" [value]="touristSpot.id">
                        {{touristSpot.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <h5 class="isAvailable">Disponible: </h5>
        <h6 class="textAvailable"> No disponible </h6>
        <mat-slide-toggle color="primary" (click)="ChangeStateOfAvailability()"></mat-slide-toggle>
        <h6 class="textNoAvailable"> Disponible </h6>

        <mat-form-field class="input-contenedor-price" appearance="fill">
            <mat-label>Precio por noche en USD</mat-label>
            <input formControlName="pricePerNight" matInput type="number" class="example-right-align">
            <span matPrefix>$USD&nbsp;</span>
            <span matSuffix>.00</span>
            <mat-error *ngIf="formGroup.controls.pricePerNight.invalid">{{getErrorMessagePrice()}}</mat-error>
        </mat-form-field>


        <mat-form-field class="input-text-area" appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea placeholder="Ingrese una descripcion aqui." formControlName="description" rows="5" cols="68"
                matInput required></textarea>
            <mat-error *ngIf="formGroup.controls.description.invalid">{{getErrorMessageDescription()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="input-urlPhoto" appearance="fill">
            <mat-label> Url de la foto </mat-label> <input formControlName="images" type="text" matInput
                placeholder="Ex. https://www.gettyimages.es/gi-resources/images/500px/983794168.jpg">
            <mat-error *ngIf="formGroup.controls.images.invalid">{{getErrorMessageForPhoto()}}</mat-error>
        </mat-form-field>

        <button type="button" class="buttonAddPicture" (click)="addPhoto()">Añadir foto</button>

        <button class="button" (click)="create()" [disabled]="formGroup.invalid ||  isEmptyListOfPhotos()">Crear
            hospedaje</button>
    </div>
</form>