.contenedor {
  width: 100%;
  padding: 3%;
  box-sizing: border-box;
}

.formulario {
  background: #fff;
  margin-top: 4%;
  padding: 0.1%;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #1a2537;
  font-size: 40px;
}

.button {
  position: relative;
  border: none;
  width: 60%;
  height: 40%;
  color: white;
  font-size: 120%;
  background: #1a2537;
  padding: 1.5% 1.5%;
  border-radius: 5px;
  cursor: pointer;
  left: 25vh;
  top: 5vh;
}

.button:hover {
  background: cadetblue;
}

p {
  text-align: center;
}

@media(min-width:768px) {
  .formulario {
    position: relative;
    margin: auto;
    width: 131vh;
    height: 90vh;
    top: -3vh;
    margin-top: 4%;
    border-radius: 8px;
    box-sizing: border-box;
  }
}

.inputDescription {
  position: relative;
  left: 17vh;
  width: 90vh;
  top: -1vh;
  height: 10vh;
}

.inputForName, .inputForLastName, .inputForEmail, .inputForLodgingName{
  position: relative;
  width: 90vh;
  top: -2vh;
  left: 17vh;
}

input[readonly]{
  background-color: rgb(199, 199, 199);
}

.stateTextOfSelectReserve{
  position: relative;
  top: 5vh;
  left: 17vh;
  color: rgb(112, 112, 112);
}

.comboOfStatesToChange{
  position: relative;
  left: 45vh;
  width: 50vh;
  top: 1vh;
}