.card-header {
    position: relative;
    top: .01vh;
    max-width: 27vh;
    background-color: #3f51b5;
    color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center
}

.filter-content {
    width: 27vh;
    height: auto;
    word-wrap: break-word;
    background-color: #3f51b5;
    border-bottom-right-radius: 12px
}

.buttonOfCheck {
    border: none;
    color: #2e2e2e;
    background: #d5e1a3;
    border-radius: 5px;
    cursor: pointer;
    width: 27.5vh;
    position: relative;
    left: -6vh;
    top: -3vh;
    text-align: left
}

.buttonOfCheck:hover {
    background: #5f9ea0
}

.touristSpots {
    display: inline-block;
    position: relative;
    top: -48vh;
    left: 27vh
}

.viewOfTouristSpots {
    display: inline-block;
    height: 90vh
}